<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>РК2 Кравец</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav">
            <div class="nav_menu">
                <div class="logo">
                    <a href="#" class="logotext">
                        <img src="img/logo.svg" alt="logo" width="50" />
                        <p>
                            IQbook
                        </p>
                    </a>
                </div>
                <div class="menu">
                    <p><a href="#compilations">Подборки</a></p>
                    <p><a href="#business">Бизнес</a></p>
                    <p><a href="#psychology">Психология</a></p>
                    <p><a href="#programming">Программирование</a></p>
                </div>
            </div>
        </div>
        <div class="container_main">
            <h1 class="text1">
                IQbook - лучшая платформа с подборкой книг
            </h1>
            <div class="podtext">
                <p>Нет какой-то книги?</p>
                <p>Добавьте её прямо сейчас!</p>
            </div>
            <div class="rectangle">
                <a href="#form">Добавить книгу</a>
            </div>
        </div>
    </header>
    <main>
        <section id="compilations" class="compilations">
            <h2 class="text2">Подборки</h2>
            <div class="gallery_compilations">
                <div>
                    <a href="#business">
                        <h3 class="text3">Бизнес</h3>
                        <img src="img/compilations1.jpg" alt="business" width="250">
                        <p>
                            Литература дает бизнесмену идеи для развития, образцы для подражания, кейсы для реализации на практике.

                        </p>
                    </a>
                </div>
                <div>
                    <a href="#psychology">
                        <h3 class="text3">Психология</h3>
                        <img src="img/compilations2.png" alt="psychology" width="250">
                        <p>
                            Книги по психологии с серьезной исследовательской базой бывают крайне практичными.
                        </p>
                    </a>
                </div>
                <div>
                    <a href="#programming">
                        <h3 class="text3">Программирование</h3>
                        <img src="img/compilations3.jpg" alt="programming" width="250">
                        <p>
                            Стань продвинутым IT специалистом. Выбери востребованный язык программирования

                        </p>
                    </a>
                </div>
            </div>
        </section>

        <section id="business" class="business">
            <h2 class="text22">Бизнес</h2>
            <div class="about_contain">
                <div class="book">
                    <img src="img/business1.png" alt="business" width="250">
                    <div class="text_about">
                        <h3 class="text32">От хорошего к великому</h3>
                        <h4 class="text42">Джим Коллинз</h4>
                        <p>
                            В книге анализируется опыт компаний, осуществивших переход от хороших показателей к выдающимся, таких как: Abbott, Circuit City, Fannie Mae, Gillette, Kimberly-Clark, Kroger, Nucor, Philip Morris, Pitney Bowes, Walgreens, Wells Fargo. Эти компании сохраняли высокие результаты в течение 15 лет. Так, к 2000 г. инвестиции в $1, сделанные в 1965 г. в эти компании, увеличились бы в 471 раз, а инвестиции в акции всех компаний на рынке увеличились бы лишь в 56 раз.

                        </p>
                    </div>
                </div>
                <div class="book">
                    <img src="img/business2.png" alt="business" width="250">
                    <div class="text_about">
                        <h3 class="text32">Rework</h3>
                        <h4 class="text42">Джейсон Фрайд и Дэвид Хайнемайер Хенссон</h4>
                        <p>
                            О том, как начать свой бизнес. Если хотите – параллельно с основной работой. И о том, как усовершенствовать ваш имеющийся бизнес, а точнее – ваши взгляды на него. С тем, чтобы обрести невиданную ранее степень свободы.
                        </p>
                        <p>
                            О том, какой оптимальный размер компании, зачем ей расти, что и как нужно на самом деле планировать и нужно ли учиться на ошибках. И о многом другом, знакомом и неожиданном.


                        </p>
                    </div>
                </div>
                <div class="book">
                    <img src="img/business3.png" alt="business" width="250">
                    <div class="text_about">
                        <h3 class="text32">К черту все! Берись и делай!</h3>
                        <h4 class="text42">Ричард Брэнсон</h4>
                        <p>
                            Брэнсон — яркая, нестандартная личность. Его кредо — брать от жизни все. Это значит не бояться делать то, что хочешь. При этом совершенно неважно, достаточно ли у тебя знаний, опыта или образования. Если есть голова на плечах и достаточно задора в душе, любая цель будет по плечу. Жизнь коротка, чтобы тратить ее на вещи, которые не приносят удовольствия. Если что-то нравится — делай. Не нравится — бросай, не раздумывая.
                        </p>
                    </div>
                </div>
            </div>

        </section>

        <section id="psychology" class="psychology">
            <h2 class="text2">Психология</h2>
            <div class="about_contain">
                <div class="book">
                    <img src="img/psychology1.jpg" alt="psychology" width="250">
                    <div class="text_about">
                        <h3 class="text3">Психология влияния.</h3>
                        <h4 class="text4">Роберт Чалдини</h4>
                        <p>
                            Как не стать жертвой манипуляторов? Мы встречаем их каждый день: среди друзей и приятелей, в рекламе, на работе и дома. Книга Роберта Чалдини научит считывать используемые против вас уловки и при желании применять их в собственных целях.
                        </p>
                    </div>
                </div>
                <div class="book">
                    <img src="img/psychology2.jpg" alt="psychology" width="250">
                    <div class="text_about">
                        <h3 class="text3">
                            Выйди из зоны комфорта. Измени свою жизнь
                        </h3>
                        <h4 class="text4">Брайан Трейси</h4>
                        <p>
                            У вас постоянно не хватает времени на выполнение самых важных дел? И уж тем более вы махнули рукой на второстепенные планы, вроде прочтения новой книги или давно запланированной поездки на природу? Тогда непременно скачайте эту книгу!
                        </p>
                    </div>
                </div>
                <div class="book">
                    <img src="img/psychology3.jpg" alt="psychology" width="250">
                    <div class="text_about">
                        <h3 class="text3">
                            Сила подсознания, или Как изменить жизнь за 4 недели
                        </h3>
                        <h4 class="text4">Джо Диспенза</h4>
                        <p>
                            Доктор Джо Диспенза предлагает научный подход к изменению жизни. Его уникальная программа рассчитана на 4 недели, за это время она научит вас работать со своим подсознанием, чтобы достичь желаемого ‒ вам остается только решить, что конкретно вы хотите изменить в своей жизни. Эта умная, содержательная и насыщенная практическим материалом книга поможет вам освободиться из плена эмоций, наполнить жизнь здоровьем, счастьем и изобилием.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="programming" class="programming">
            <h2 class="text22">Программирование</h2>
            <div class="about_contain">
                <div class="book">
                    <img src="img/programming1.jpg" alt="programming" width="250">
                    <div class="text_about">
                        <h3 class="text32">Совершенный код</h3>
                        <h4 class="text42">Макконнелл Стив</h4>
                        <p>
                            Более 10 лет первое издание этой книги считалось одним из лучших практических руководств по программированию.  Опираясь на академические
                            исследования, с одной стороны, и практический опыт коммерческих разработок ПО - с другой, автор синтезировал из самых эффективных методик и наиболее эффективных принципов ясное прагматичное руководство.
                        </p>
                    </div>
                </div>
                <div class="book">
                    <img src="img/programming2.jpg" alt="programming" width="250">
                    <div class="text_about">
                        <h3 class="text32">Искусство программирования.</h3>
                        <h4 class="text42">Дональд Кнут</h4>
                        <p>
                            Первый том серии книг Искусство программирования начинается с описания основных понятий и методов программирования. Затем автор переходит к рассмотрению информационных структур – представлению информации внутри компьютера, структурных связей между элементами данных и способам эффективной работы с ними.
                        </p>
                    </div>
                </div>
                <div class="book">
                    <img src="img/programming3.jpg" alt="programming" width="250">
                    <div class="text_about">
                        <h3 class="text32">
                            #Сам себе программист
                        </h3>
                        <h4 class="text42">Кори Альтхофф</h4>
                        <p>
                            Как за год научиться программировать и устроиться разработчиком в Ebay? Автор этой книги на собственном опыте знает, что это возможно, и делится знаниями с читателями. Кори Альтхофф создал универсальный самоучитель, не похожий ни на один другой. На примере языка Python автор показывает, как буквально с первого урока можно приступить к созданию собственной небольшой программы, а к концу книги уверенно писать код.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        
        <section class='add__form' id="form">
            <h2 class="text2">Добавьте свою книгу!</h2>
            <form>
                <label for='name' hidden></label>
                <input type='text' v-model="name" required id='name' placeholder='Название'>

                <label for='writer' hidden></label>
                <input type='text' v-model="writer" required id='writer' placeholder='Писатель'>

                <label for='genre' hidden></label>
                <input type='text' v-model="genre" required id='genre' placeholder='Жанр'>

                <label for='text' hidden></label>
                <textarea rows="10" cols="45" name="text" v-model="text" required id='text' placeholder='Описание'></textarea>

                <input type='submit' class="rectangle2" @click='clickfunction' :disabled="isDisabled">
            </form>
        </section>


    </main>

    <footer>
        <p>Группа 201-322</p>
        <p>Кравец Е.А.</p>
        <p>01.06.2021</p>
    </footer>
</body>
</html>

